*   {
    margin: 0;
    padding: 0;
}

body    {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0% 1%;
}

/* Classes represent divisions */
/*
.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
*/
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.status-bar {
    height: 3vh;
}

/* IDs represent functional units */
#DirPath    {
    width: 60vw;
    font-size: 2.5em;
    /* Borders to be disabled in final render. */
    border: 2px solid #000;
}

#Browse {
    /* Borders to be disabled in final render. */
    border: 1px solid #000;
}

#NavButton  {
    background-color: #f00;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.window {
    height: 95vh;
    display: flex;
    flex-direction: row;
}

#FileBrowser    {
    width: 25%;
    background-color: #009900;
}

#Viewer {
    width: 75%;
    background-color: #000099;
}
