.html-content {
    margin: 2% 5%;
    font-family: 'Sans';
    line-height: 1.5;
}

.html-content h1 {
    margin: 2% 0%;
}

.html-content h2 {
    margin: 1.5% 0%;
}

.html-content h3 {
    margin: 1% 0%;
}

.html-content h4 {
    margin: 0.5% 0%;
}

.html-content h5 {
    margin: 0.25% 0%;
}

.html-content ul {
    margin: 0.5% 5%;
}

.html-content ol {
    margin: 0.5% 5%;
}

.html-content pre {
    padding: 2% 0%;
}

.html-content code {
    font-family: 'Mono';
    font-size: 0.8em;
}

.html-content p {
    text-align: justify;
}

.footnotes {
    font-size: 0.8em;
}

.footnotes-sep {
    height: 20px;
    border: #000 solid 0px;
}