.folder {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 2px;
}

.file {
    padding: 5px;
    margin-bottom: 2px;
    width: max-content;
    cursor: pointer;
    font-family: 'Mono';
}

.file.selected {
    background-color: #007bff;
    color: white;
    width: max-content;
}

.hidden {
    display: none;
}

.folder-content {
    margin-left: 10px;
    margin-top: 2px;
}

.folder.bold {
    font-weight: bold;
}
.folder.bold > * {
    font-weight: normal;
}
