@font-face {
    font-family: 'Mono';
    src: url('../../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sans';
    src: url('../../assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

[system-theme='light']  {
    --bg: #f5f5f5;
    --text: #0a0a0a;
    --accent: #858585;
}

[system-theme='dark']   {
    --bg: #0a0a0a;
    --text: #f5f5f5;
    --accent: #585858;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sans';
    background-color: var(--bg);
    color: var(--text);
    margin: 0px 5px;
    overflow: hidden;
}

.window {
    display: flex;
    height: calc(100vh - 2em);
    flex-direction: row;
}

#FileBrowser {
    width: 25%  ;
    min-width: 200px;
    font-size: 0.75em;
    overflow-y: auto;
    overflow-x: hidden;
}

#Viewer {
    width: 75%;
    overflow-y: scroll;
}

.status-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 100vw;
    align-items: center;
    font-size: 0.75em;
    border-top: 1px solid var(--accent);
}

#Status {
    padding-left: 5px;
}